.ConicalSection{
    display: flex;
     width: 100%;
    
}
.section_left{
    width: 50%;
    height: 100px;
    /* background-color: #fff; */
    /* border: 1px solid black; */
    transform: skew(0deg,3deg);
}

.section_right
    {
    width: 50%;
    height: 100px;
    /* background-color: #fff; */
    /* border: 1px solid black; */
    transform: skew(0deg,-3deg)
}