.header{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 125px;
    width: 100%;
    /* background-color: rgba(234, 236, 239, 0.35) !important; */
    box-shadow: 0 7px 30px rgb(0 0 0 / 30%);
}
.header_onscroll{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100px;
    width: 100%;
    /* background-color: rgba(234, 236, 239, 0.35) !important; */
    box-shadow: 0 7px 30px rgb(0 0 0 / 30%);
    transition: 2s;
}
.img_div>a>img{
    height: 75px;
    width: 300px;
}
.lst_div >ul>li>a{
    text-decoration: none;
    color: #14374c;;
}
.lst_div >ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ul_lst{
    display: flex;
    padding: 5px;
}
.header_email>h2{
font-size: 1.6em;
}
.header_email>h2>span{
    color: white;
}

.header_search{
    position: absolute;
    top: 90px;
    width: 100%;
    /* margin-top: -30px; */
}
.header_search_hidden{
 display: none;
}