.banner{
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 1000px;
    background-image: url("https://milkandhoneydigital.com/wp-content/uploads/2017/06/home-scaled.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    top: 0;
}
.banner_section{
    background-color: rgba(31,39,50,.7);
    /* height: 100%;; */
    height: 100%;
    /* position: absolute;
    top: 0; */
    overflow: hidden;
    width: 100%;
}
.banner_section1{
    position: absolute;
    top: 300px;
    width: 32%;
    background-image: url("https://milkandhoneydigital.com/wp-content/themes/dotdigital/img/pattern.png");
    background-size: auto;
    background-repeat: no-repeat;
    /* width: 100%; */
    /* z-index: -1; */
    left: 489px;
    height: 43%;
}
.Banner_btn{
    position: relative;
    top: 70px;
    left: -32px
}
.Banner_btn>button{
    height: 80px;
    width: 200px;
    border: 1px solid;
    border-radius: 40px;
    background-color: #dfa836;
    color: #ffffff;
    border-color: #dfa836;

}

